body{
            
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    display: flex;
    align-items: center;
    margin: 15px;
    padding: 0px 40px;
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.055);
    border-bottom: 1px solid rgba(128, 128, 128, 0.411);
    border-radius: 5px;
}
main{
    
}
label{
    display: block;
}
.principal{
    padding-top: 20px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 300px;
}
label{
    
   margin: 25px 0px;
}
label > p{
    padding-bottom: 4px;
    font-size: 13px;
    font-weight: bold;
}
.texto{
    padding:8px;
    width: 300px;
    border: 1px solid rgba(0, 0, 0, 0.123);
    border-radius: 5px;
}
select{
    border: 1px solid rgba(0, 0, 0, 0.123);
    border-radius: 5px;
    padding: 8px;
    width: 316px;
}
textarea{
    border: 1px solid rgba(0, 0, 0, 0.123);
    border-radius: 5px;
    padding: 8px;
    width: 300px;
    height: 70px;
}
#enviar{
    color: white;
    background-image:linear-gradient(90deg,rgb(156, 28, 156),rgb(57, 57, 238));
    width: 100px;
    padding: 8px;
    border-radius: 5px;
    border: none;
}
.meio{
    background-image:linear-gradient(90deg,rgb(156, 28, 156),rgb(57, 57, 238));
    height: 300px;
}
.meio2{
    height: 300px;
}
footer{
    background-image:linear-gradient(90deg,rgb(156, 28, 156),rgb(57, 57, 238));
    text-align: center;
}
footer > p{
    padding: 10px;
    margin: 0;
    color: white;
}
@media (max-width:620px) {
 .principal{
    display: block;
    text-align: center;
    }
    .principal  p{
        
    }
    
  

}
